<mat-card>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Тема поста</mat-label>
            <input matInput placeholder="Тема поста" type="text" #title="ngModel" ngModel name="title" required >
            <mat-error *ngIf="title.invalid">Заполните тему поста</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Текст поста</mat-label>
            <textarea matInput placeholder="Текст поста" type="text" rows="10" color="accent" #content="ngModel" ngModel name="content" required>
            </textarea>
            <mat-error *ngIf="content.invalid">Заполните текст поста</mat-error>
        </mat-form-field>

        <button mat-stroked-button color="accent" type="submit">Сохранить
        </button>

    </form>

</mat-card>