<mat-card>

  <mat-form-field appearance="outline" color="accent">
        <mat-label>Тема поста</mat-label>
        <input matInput placeholder="Тема поста" type="text" [(ngModel)]="enteredTitle">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Текст поста</mat-label>
    <textarea matInput [(ngModel)]="enteredContent" name="post" rows="10" color="accent" placeholder="Текст поста"></textarea>
  </mat-form-field>

  <button
    mat-stroked-button
    color="accent"
    (click)="onAddPost()">Сохранить
  </button>

</mat-card>











